p #{name}'s search test page
form(
  accept-charset="1234567890; "
  action="/search"
)
  label Nummern:
  input(
    type="text"
    name="term"
  )
  input(
    type="submit"
    value="Search"
  )

